main {
	padding: 2rem;
}

.choice-box {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	border: 1px solid #c8c8c8;
	border-radius: 0.3rem;
	font-size: 1.6rem;
	height: 105px;
	color: #c8c8c8;
}

.choice-box-clicked {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	border: 1px solid #214bff;
	border-radius: 0.3rem;
	font-size: 1.6rem;
	height: 105px;
	color: #214bff;
}

/* .choice-box:focus-within {
	border: 5px solid red;
} */



.choice-box i {
	width: 105px;
	font-size: 4.8rem;
	text-align: center;
}

.choice-box-clicked i {
	width: 105px;
	font-size: 4.8rem;
	text-align: center;
}

.choice-box:hover {
	border: 1px solid #bbb;
	cursor: pointer;
	color: #aaa;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%), 0 4px 16px 0 rgb(0 0 0 / 6%), 0 0 1px 0 rgb(0 0 0 / 10%);
} 

 .choice-box i:hover {
	color: #aaa;
} 


/* .choice-box:active,
.choice-box i:active {
	border: 1px solid #214bff;
	color: #214bff;
} */

@media (min-width: 992px) {
	main {
		padding: 5rem 0rem 3rem 0rem;
		display: flex;
		justify-content: space-between;
	}

	.choice-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 30%;
		height: 205px;
	}

	.choice-box-clicked {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 30%;
		height: 205px;
	}

	.choice-box p {
		padding: 0 1.4rem;
		text-align: center;
	}

	.choice-box-clicked p {
		padding: 0 1.4rem;
		text-align: center;
	}
}
