.invalid-input {
	position: relative;
	left: 269px;
	width: 435px;
}



.invalid-input p {
	margin: 0;
	font-size: 1.35rem;
	color: #b40e0e;
	/* color: salmon; */
}

.invalid {
	border: 1px solid #b40e0e;
	/* border: 1px solid salmon; */
	background-color: #fddddd;
}

.invalid:focus {
	border: 1px solid #b40e0e;
}
