@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'DM Sans', sans-serif;
  font-size: 62.5%;
  background-color: #fff;
}

body {
  margin: 0;
  background-color: #fff;
  display: flex;
}

